*.apk
*.jar
*.dex
*.odex
*.vdex
*.art
*.oat
*.img
*.br
*.dat
*.transfer
*.zip
*.7z
*.rar
boot
recovery
META-INF/
system/
config/
_device_backups*/
**/build/
**/out/
**/.gradle/
**/debug.keystore
*.idsig

